### This is just an example env file, not all values are required. 
### You can copy this file to .env and fill in the values you want to use.
### If you only have Sleeper or only have ESPN just leave the other values blank. 
### If you have both, you can fill in both sets of values.

## Sleeper credentials
# Sleeper username
SLEEPER_USER=

## ESPN credentials
# ESPN League ID, this is all you need if your league is public
ESPN_LEAGUE_ID=
# ESPN private-league credentials, needed if your league is private. 
# You can get these by logging into ESPN and inspecting the cookies in your browser.
ESPN_SWID=
ESPN_S2=

## Gmail SMTP credentials
SMTP_USER=
SMTP_APP_PASSWORD=
